@import 'syntax-variables';

.syntax--js,
.syntax--jsx,
.syntax--html {

@tag: extract(@selector, 1);
@tag-name: extract(@selector, 2);
@attribute: extract(@selector, 3);
@key: @secondary;
@value: @secondary;
@text: mix(@tag, @comment, 25%);

.syntax--basic, &.syntax--basic,
.syntax--text,  &.syntax--text { .text }
.syntax--tag {
  --color: @tag;
  // Tag name
  &.syntax--name { --color: @tag-name; .text(bold) }
  // Attributes
  .syntax--attribute-name.syntax--entity { --color: @attribute; .text(thin) }
  // Values
  .syntax--string,
  .syntax--quoted .syntax--punctuation { .muted(@value) }
  // Id values
  .syntax--attribute-name ~ .syntax--id { --color: @value }
  // Tag delimiters
  .syntax--brace,
  .syntax--punctuation { --color: inherit; .muted(@tag, 1); .text(thin) }

  &.syntax--inline {
    .syntax--name { }
    .syntax--definition.syntax--punctuation { }}}

.syntax--doctype { .text(bold) }
}
