@import 'syntax-variables';
.syntax--js,
.syntax--jsx,
.syntax--html {

@tag: extract(@selector, 1);
@tag-name: extract(@selector, 2);
@attribute: extract(@selector, 3);
@key: @secondary;
@value: @secondary;
@text: mix(@tag, @comment, 25%);

* {
  color: var(--color) }

.syntax--basic, &.syntax--basic,
.syntax--text,  &.syntax--text {
  color: @text }

.syntax--tag {
  --color: @tag;

  // Tag name
  &.syntax--name {
    color: @tag-name;
    .text(bold) }

  // Attributes
  .syntax--attribute-name.syntax--entity {
    --color: @attribute;
    color: var(--color);
    .text(thin) }

  // Values
  .syntax--string,
  .syntax--quoted .syntax--punctuation {
    .muted(@value)
    }

  // Id values
  .syntax--attribute-name ~ .syntax--id {
    color: @value }

  // Tag delimiters
  .syntax--brace,
  .syntax--punctuation {
    .muted(@tag, 1);
    color: inherit;
    .text(thin) }



  &.syntax--inline {
    .syntax--name {
      color: var(--color) }
    .syntax--definition.syntax--punctuation {
      color: var(--color) }
  }
}

.syntax--doctype,
.syntax--punctuation {
  color: mix(@tag, @comment, 36%);
}

.syntax--invalid,
.syntax--illegal {
  .error }

}
