/*

  ▶︎
 ▶︎▶︎  h  u  3    s  H  1  F  7
   ▶︎

 ∆ author: Tuomas Hatakka
 ∆ repository: https://github.com/tuomashatakka/reduced-dark-ui/
 ∆ license: https://github.com/tuomashatakka/reduced-dark-ui/LICENSE.md */
@config-hue: 72;
@config-saturation: 50;
@config-luminance: 70;
@config-blending: 0.1;
@config-brightness: 132;
@config-contrast: 65;
@config-aberration: 51;
@config-background-level: 49;