/*

  ▶︎
 ▶︎▶︎  h  u  3    s  H  1  F  7
   ▶︎

 ∆ author: Tuomas Hatakka
 ∆ repository: https://github.com/tuomashatakka/hue-shift-syntax/
 ∆ license: https://github.com/tuomashatakka/hue-shift-syntax/LICENSE.md */
@config-luminance: 86;
@config-saturation: 78;
@config-hue: 250;
@config-blending: 30;
@config-contrast: 100;
@config-brightness: 100;
@config-background-level: 58;
@config-aberration: 60;
@config-drift: 30;
@config-dim-minor: 40;