
@import "ui-variables";


@hue: 190;
@sat: 0.75;
@lum: 0.72;

@primary: hsla(@hue, @sat, @lum, 1);
@secondary: hsla(@hue + 30, @sat, @lum, 1);
@tertiary: hsla(@hue - 30, @sat, @lum, 1);

@very-light-gray: lighten(@base-background-color, 60%);
@light-gray: lighten(@base-background-color, 40%);
@gray: lighten(@base-background-color, 20%);
@dark-gray: @base-background-color;
@very-dark-gray: darken(@base-background-color, 15%);

@cyan: @primary;
@blue: @primary;
@purple: @secondary;
@red: @secondary;
@green: @tertiary;
@orange: @tertiary;
@light-orange: @tertiary;
