// .syntax--brace.syntax--round::before {
//   content: "(";
//   color: @punctuation;
//   position: absolute;
//   font-size: 1.4em;
//   text-align: center;
//   left: -1px;
// }
// .syntax--brace.syntax--round ~ .syntax--brace.syntax--round::before {
//   content: ")" }
//
// .syntax--brace.syntax--round {
//   color: transparent;
//   position: relative;
//   display: inline-block;
//   vertical-align: middle;
//   line-height: 0;
// }

.line.cursor-line::before {
  position: absolute;
  height: inherit;
  z-index: -1;
  content: "\f488";
  left: 0px;
  font-size: 1em;
  vertical-align: middle;
  font-family: ionicons;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  border-width: 0px 0 0px;
  margin: 0.15em 0 0 -0.1em;
}
//
// .syntax-punctuation.syntax-html.syntax-begin.syntax-tag {
//   width: 1.2em;
//   display: inline-block;
//   height: inherit;
//   font-size: 1.6em;
//   line-height: 2rem;
//   position: absolute;
//   letter-spacing: -0.15em;
// }
