// @import "ui-variables";

.syntax-preview {
  @component-padding: 0.5em;
  @editor-width: 40%;

  overflow-y: auto;
  position: static;
  display: block;
  height: 100%;
  width: 100%;

  > .editor {
    position: absolute;
    flex-flow: column nowrap;
    display: flex;
    top: 0;
    bottom: 0;
    right: 0;
    width: @editor-width;
    overflow: hidden }

  > .config {
    margin-right: @editor-width }

  // Config sections
  .config h3 {
    font-size: 1em;
    margin: 0 }
  .config em:empty { display: none }
  .config em { display: none }

  // Input fields
  .control-group {
    display: block;
    position: relative;
    margin: 0 0 @component-padding * 2;
    padding: @component-padding;

    .control-label {
      h4 { margin: 0 }
      p { display: none }}

    .controls {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1em 0;

      *:not(:last-child) {
        margin: 0 @component-padding * 2 0 0 }}

    output {
      position: absolute;
      right: 0;
      top: 0 }
  }

  // Text editor mouseover fill
  // > .editor:hover .grammar-select {
  //   opacity: 1;
  //   transition-duration: .05s }
  > .editor .grammar-select {
    // opacity: 1;
    flex-flow: row nowrap;
    position: relative;
    display: flex;
    padding: @component-padding * 2 @component-padding * 2 @component-padding;
    width: 100%;
    z-index: 1001;
    transition: opacity .2s;

    h2 {
      display: inline;
      flex: 1 0 auto }
    select {
      vertical-align: middle;
      font-size: 2.4em;
      flex: 0 1 auto }}

  atom-text-editor.editor {
    height: 100% }

  atom-text-editor.editor::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    transition: background .5s }

  .grammar-select:hover + atom-text-editor.editor::before,
  atom-text-editor.editor:hover::before {
    background: fade(@base, 75%);
    transition-duration: .05s }
}
