
@import "colors";


                                                                                                                                                                                                                          /*
Package-specific                                                                                                                                                                                                         */
@primary-dark:                      darken(@primary, 10%);
@default:                           desaturate(lighten(multiply(@string, @primary), 35%), 2.5%);
@base:                              @background-color;
@control:                       mix(@string, @base, 75%);
@operator:                       mix(@blend-basis, @control, 25%);
@regex:                             @tertiary-half;

@keyword:                           @primary;
@keyword-unit:                      @primary;
@keyword-method:                    @primary;
@keyword-method:                    @primary;
@keyword-operator:                  @primary;

@storage:                           @primary;
@class:                             @primary;
@string:                        mix(@blend-basis, @primary,     60%);
@variable:                      mix(@blend-basis, @tertiary,    40%);
@storage-subtle:           multiply(@blend-basis, lighten(@string,   15%));
@section:                           @primary-dark;

@instance:                          @secondary;
@parameter:                         @secondary;
@class-minor:              multiply(@secondary, lighten(@string, 35%));
@class-subtle:             multiply(@secondary, lighten(@string, 15%));

@value:                             @tertiary;
@function:                          @tertiary;
@interpolation:                     @tertiary;
@function-constant:       softlight(@tertiary, @primary);

@comment:                           mix(@base, @gray, unit(@config-dim-minor, %));
@selector:               screen(mix(@primary,    @gray), @secondary), // default
                     desaturate(mix(@primary,    @light-gray,  80%), 20%), // tag
                     desaturate(mix(@secondary,  @light-gray,  80%), 20%), // id
                     desaturate(mix(@tertiary,   @light-gray,  80%), 20%), // attr
                     desaturate(mix(@tertiary,   @light-gray,  50%), 20%); // pseudo

// Css properties
@key:                               mix(desaturate(@tertiary-half, 25%), @base, 67%);
@support-property-name:             @secondary;
@punctuation:                       @light-gray;

                                                                                                                                                                                                                          /*
General colors                                                                                                                                                                                                         */
@syntax-text-color:                 screen(@tertiary, @primary);
@syntax-cursor-color:               @string;
@syntax-background-color:           @background-color;
@syntax-selection-color:            fade(@opaque-dark, 15%);

                                                                                                                                                                                                                          /*
Guide colors                                                                                                                                                                                                           */
@syntax-wrap-guide-color:           @dark-gray;
@syntax-indent-guide-color:         @gray;
@syntax-invisible-character-color:  @gray;

                                                                                                                                                                                                                          /*
Search markers                                                                                                                                                                                                         */
@syntax-result-marker-color:          @light-gray;
@syntax-result-marker-color-selected: white;

                                                                                                                                                                                                                          /*
Gutter decor                                                                                                                                                                                                           */
@syntax-gutter-text-color:                @very-light-gray;
@syntax-gutter-background-color:          transparent;
@syntax-gutter-text-color-selected:       lighten(@primary, 35%);
@syntax-gutter-background-color-selected: mix(black, @very-dark-gray, 25%);

                                                                                                                                                                                                                          /*
Diff                                                                                                                                                                                                                 */
// @syntax-color-renamed: @text-color-renamed;
// @syntax-color-added: @text-color-success;
// @syntax-color-modified: @text-color-modified;
// @syntax-color-removed: @text-color-removed;
// @import "ui-variables";
@text-color-success:      mix(@string, rgb(56, 252, 175));
@text-color-modified:     mix(@string, rgb(227, 196, 121));
@text-color-renamed:      mix(@string, rgb(217, 163, 113));
@text-color-removed:      mix(@string, rgb(252, 81, 132));
@syntax-color-added:      @text-color-success;
@syntax-color-modified:   @text-color-modified;
@syntax-color-renamed:    @text-color-renamed;
@syntax-color-removed:    @text-color-removed;
